//
// CharacterList
//
// List of characters you see on the right side.
//
.character-list {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: #222;

    .cl-add {
        border-bottom: solid 1px #000;
        box-shadow: 0 1px 0 #333;

        > button {
            height: 60px;
            line-height: 60px;
            padding: 0 20px;
            background: none;
            border: none;
            width: 100%;
            color: #fff;
            text-align: left;
            font-size: 20px;
            cursor: pointer;
            opacity: 0.2;
            transition: .2s;

            &:hover {
                background-color: #111;
                opacity: 1;
            }

            img {
                vertical-align: middle;
                margin: 0 10px 4px;
            }
        }
    }

    .cl-row {
        border-bottom: solid 1px #000;
        box-shadow: 0 1px 0 #333;

        > button {
            display: flex;

            padding: 20px;
            background: none;
            border: none;
            width: 100%;
            color: #fff;
            text-align: left;
            font-size: 20px;
            cursor: pointer;
            transition: .2s;

            &:hover {
                background-color: #111;
                opacity: 1;
            }
        }

        span {
            font-size: 11px;
            text-transform: uppercase;
            color: #888;
        }

        img {
            border-radius: 5px;
            box-shadow: 0 1px 5px #000;
            height: 64px;
            width: 64px;
            margin-right: 15px;
        }

        h4 {
            color: #ffe072;
            font-size: 20px;
            font-weight: 300;
        }

        small {
            color: #ffe072;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            margin-top: 1px;
            opacity: 0.5;
        }
    }

    .cl-notes {
        font-size: 13px;
        color: #888;
        padding: 20px;
        line-height: 18px;

        strong {
            color: #e33b32;
            font-weight: 600;
        }

        p {
            margin-bottom: 10px;
        }
    }
}
