//
// CharacterList
//
// List of characters you see on the right side.
//
.character-list {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 400px;

    background-color: transparent;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 95%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 95%);
    background: linear-gradient(to right, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 95%);

    .cl-add {
        text-align: right;
        padding: 30px;

        button {
            color: #fff;
            padding: 0 15px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            background-color: transparent;
            border: solid 1px rgba(80, 80, 80, 0.8);
            box-shadow: 0 0 5px rgba(150, 150, 150, 0.3);
            border-radius: 6px;
            cursor: pointer;
            transition: 100ms;

            &:hover {
                border: solid 1px rgba(250, 255, 143, 1);
                background-color: rgba(255, 250, 137, 0.2);
            }

            svg {
                height: 32px;
                display: inline-block;
                fill: #fff;
                vertical-align: middle;
                margin: -4px 6px 0 0;
            }
        }
    }

    .cl-list {
        text-align: right;
        padding: 30px;

        > button {
            width: 100%;
            display: flex;
            margin-bottom: 30px;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
            border: none;
            height: 66px;
            line-height: 66px;
            color: #fff;
            border-radius: 64px;
            padding: 0;
            transition: 100ms;

            > img {
                height: 64px;
                border-radius: 64px;
                box-shadow: 0 1px 6px #000;
            }

            > div {
                margin: 0 20px 0 0;
                display: flex;

                h4 {
                    font-size: 22px;
                    font-weight: 300;
                }

                svg {
                    fill: #fff;
                    height: 24px;
                    margin: 20px 5px 0 0;
                    opacity: 0.2;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(67, 72, 87, 0.3);
            }
        }
    }
}
