//
// CharacterList
//
// List of characters you see on the right side.
//
.character-list {
    width: 35%;
    position: fixed;
    top: 3em;
    bottom:0;
    right:0;

    background-color: transparent;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 95%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 95%);
    background: linear-gradient(to right, rgba(0,0,0,0) 10%,rgba(0,0,0,1) 95%);

    .cl-add {
        padding: 1em 2em;
        text-align: right;

        button {
            color: #fff;
            padding: 0 15px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            background-color: transparent;
            border: solid 1px rgba(80, 80, 80, 0.8);
            box-shadow: 0 0 5px rgba(150, 150, 150, 0.3);
            border-radius: 6px;
            cursor: pointer;
            transition: 100ms;

            &:hover {
                border: solid 1px rgba(250, 255, 143, 1);
                background-color: rgba(255, 250, 137, 0.2);
            }

            svg {
                height: 32px;
                display: inline-block;
                fill: #fff;
                vertical-align: middle;
                margin: -4px 6px 0 0;
            }
        }
    }

    .cl-list {
        text-align: right;
        padding: 0 2em 0 .5em;
        position: fixed;
        top:8.25em;
        bottom:0;
        right:0;
        width:35%;
        overflow-y: auto;

        > button {
            width: 100%;
            display: flex;
            margin-bottom: 1.5em;
            flex-direction: row;
            justify-content: flex-end;
            background-color: transparent;
            border: none;
            height: 5em;
            line-height: 5em;
            color: #fff;
            border-radius: 5em;
            padding: 0;
            transition: 100ms;

            > img {
                height: 5em;
                border-radius: 5em;
                box-shadow: 0 1px 6px #000;

                @if variable-exists(debug) {
                    // Debug mode will replace your characters in the list and
                    // blur their names, so you can take easier screenshots.
                    content: url('https://xivapi.com/launcher/faceless.png');
                }
            }

            > div {
                margin: 0 1em 0 0;
                display: flex;

                h4 {
                    font-size: 1.5em;
                    font-weight: 300;
                    white-space:nowrap;
                    text-overflow: ellipsis;

                    @if variable-exists(debug) {
                      color: transparent;
                      text-shadow: 0 0 .8em rgba(255,255,255,.8);
                    }
                }

                svg {
                    fill: #fff;
                    height: 1.7em;
                    margin: 1.5em .5em 0 0;
                    opacity: 0.2;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(67, 72, 87, 0.3);
            }
        }
    }
}
