.add-character-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 250px 40px #000;

    right: 410px;
    width: 500px;
    padding: 40px;
    background-color: #333;
    border-radius: 5px;
    border: solid 1px #000;
    z-index: 50;
    display: none;

    &.open {
        display: block;
    }

    label {
        display: block;
        color: #888;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 15px;
    }

    p {
        font-size: 13px;
        color: #aaa;
        margin-bottom: 20px;
        line-height: 20px;
    }

    h1 {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    div {
        margin-bottom: 10px;
    }

    .btn-save {
        font-weight: 600;
        font-size: 20px;
    }

    .ac-close {
        float: right;
        padding: 5px 10px;
        border-radius: 50px;

        img {
            vertical-align: middle;
        }
    }

    .ac-row-flex2 {
        display: flex;

        > div {
            flex: 0 1 50%;

            &:first-of-type {
                margin-right: 5px;
            }

            &:last-of-type {
                margin-left: 5px;
            }
        }
    }

    .ac-row-small {
        input {
            width: 30%;
        }
    }
}
