//
// Lodestone News Styling
//
// This contains the styling required for the news shown on the launcher
//

.lodestone-news {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 60%;

    background: -moz-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 5%, rgba(17,17,17,0.7) 60%, rgba(17,17,17,0) 100%);
    background: -webkit-linear-gradient(left, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 5%,rgba(17,17,17,0.7) 60%,rgba(17,17,17,0) 100%);
    background: linear-gradient(to right, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 5%,rgba(17,17,17,0.7) 60%,rgba(17,17,17,0) 100%);

    padding: 120px 0 0 40px;

    display: none;

    &.open {
        display: block;
    }

    > div {
        display: flex;
        margin-bottom: 20px;

        > div:first-of-type {
            flex: 0 1 200px;
        }

        > div:last-of-type {
            flex: 0 1 calc(100% - 200px);
        }

        img {
            width: 180px;
            border-radius: 5px;
        }

        h2 {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 5px;
        }

        small {
            font-size: 13px;
            text-transform: uppercase;
            opacity: 0.3;
        }
    }
}

