//
// Lodestone News Styling
//
// This contains the styling required for the news shown on the launcher
//

.news {
    position: absolute;
    top: 100px;
    left: 50px;
    background: #222;
    opacity:.8;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 25px;

    .news-header {
        text-align: left;
        padding-bottom: 10px;
    }

    .lodestone {
        > div {
            padding: 5px 50px;
            font-size: 15px;
            top: 30px;
        }
        
    }
}


//
// Lodestone News Styling
//
// This contains the styling required for closing the news.
//

.news-hidden {
    position: absolute;
    top: 100px;
    left: 50px;
    background: #222;
    opacity:.8;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 25px;
    display:none;

    .news-header {
        text-align: left;
    }

    .lodestone {
        > div {
            padding: 5px 50px;
            font-size: 15px;
            top: 30px;
        }
        
    }
}


