//
// Lodestone News Styling
//
// This contains the styling required for the news shown on the launcher
//
.lodestone-news {
    width: 65%;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 8.15em;
    bottom: 0;
    display: none;
    padding-left: 2em;
    direction: rtl; // place the scrollbar on the left side.

    background: -moz-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 5%, rgba(17,17,17,0.7) 60%, rgba(17,17,17,0) 100%);
    background: -webkit-linear-gradient(left, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 5%,rgba(17,17,17,0.7) 60%,rgba(17,17,17,0) 100%);
    background: linear-gradient(to right, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 5%,rgba(17,17,17,0.7) 60%,rgba(17,17,17,0) 100%);

    &.open {
        display: block;
    }

    > div {
        direction: ltr; // Ensure our text is still displayed correctly.
        display: flex;
        margin-bottom: 20px;

        > div:first-of-type {
            flex: 0 1 200px;
        }

        > div:last-of-type {
            flex: 0 1 calc(100% - 200px);
        }

        img {
            width: 180px;
            border-radius: 5px;
        }

        h2 {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 5px;

            a {
                color: #faff8f;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        small {
            font-size: 13px;
            text-transform: uppercase;
            opacity: 0.3;
        }
    }
}
