nav {
    display: flex;

    .left {
        flex: 0 1 65%;
        display: flex;

        > .logo {
            background-image: url('http://xivdb.com/launcher/images/logo_small.png');
            background-size: auto;
            background-position: center center;
            background-repeat: no-repeat;

            flex: 0 1 120px;
            width: 120px;
            height: 120px;
            display: block;
        }

        > button {
            height: 60px;
            margin: 30px 30px 0 0;
            background-color: transparent;
            border-radius: 3px;
            transition: .2s;
            padding: 0 20px;
            color: $colorHighlight;
            font-size: 20px;
            font-weight: 300;
            border: none;
            cursor: pointer;

            img {
                margin-top: 4px;
            }

            &:hover {
                background-color: rgba(255,255,255,0.1);
            }
        }
    }

    .right {
        flex: 0 1 35%;
        text-align: right;
        display: flex;
        padding: 30px 15px 0 0;

        .name {
            flex: 0 1 calc(100% - (64px  + 100px));
            margin: 12px 20px 0 0;
            font-size: 20px;

            small {
                font-size: 13px;
                opacity: 0.6;
                display: block;
                margin-top: 5px;
            }
        }

        .avatar {
            flex: 0 1 64px;
            text-align: center;

            img {
                height: 64px;
                width: 64px;
                border-radius: 100px;
                box-shadow: 0 1px 3px #000;
            }
        }

        .user-menu {
            flex: 0 1 100px;
            text-align: center;

            button {
                background-color: rgba(0,0,0,0.3);
                border-radius: 3px;
                border: none;
                width: 42px;
                height: 42px;
                text-align: center;
                padding: 0;
                position: relative;
                margin: 10px 0 0 0;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    background-color: rgba(0,0,0,0.6);
                }

                img {
                    display: inline-block;
                    margin: 0;
                    position: absolute;
                    top: 9px;
                    left: 9px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}