.settings-form {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 500px;
    padding: 20px;
    background-color: #333;
    border-radius: 3px;
    box-shadow: 0 0 3px #000;
    z-index: 50;

    display: none;
    &.open {
        display: block;
    }

    label {
        display: block;
        color: #888;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 15px;
    }

    p {
        font-size: 13px;
        color: #aaa;

        margin-bottom: 20px;
        line-height: 20px;

    }

    h1 {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    strong {
        font-weight: 600;
    }

    .ac-close {
        float: right;
        padding: 5px 10px;
        border-radius: 50px;

        img {
            vertical-align: middle;
        }
    }

    .ac-row-flex2 {
        display: flex;

        > div {
            flex: 0 1 50%;

            &:first-of-type {
                margin-right: 5px;
                > input {
                    width: 160%;
                }
            }

            &:last-of-type {
                display: flex;
                justify-content: flex-end;
                margin-left: 5px;
            }
        }
    }

    .ac-row-small {
        input {
            width: 30%;
        }
    }
}
